.core-concepts {
  padding: 3rem;
  border-radius: 6px;
  background-color: #140524;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  text-align: center;
  margin-bottom: 3.5rem;
}

.core-concepts h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2rem;
  color: #a18aba;
  margin-bottom: 0.5rem;
}

.core-concepts ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2.5rem;
}